body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

text {
    pointer-events: none;
}

/* Circle of Fifths */
.note-segment {
    fill: lightgrey;
    stroke: none;
}
.note-segment-tonic {
    fill: yellow;
    stroke: black;
    stroke-width: 3px;
}
.note-segment-scale {
    fill: white;
    stroke: black;
    stroke-width: 3px;
}
.note-segment-text {
    font-size: 35px;
    text-anchor: middle;
    fill: black;
}
.degree-segment {
    fill: none;
    stroke: none;
}
.degree-segment-selected {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}
.degree-segment-text {
    font-size: 20px;
    text-anchor: middle;
    fill: black;
}
.chord-segment {
    fill: none;
    stroke: none;
}
.chord-segment-dim {
    fill: red;
    stroke: black;
    stroke-width: 2px;
}
.chord-segment-minor {
    fill: lightblue;
    stroke: black;
    stroke-width: 2px;
}
.chord-segment-major {
    fill: lightgreen;
    stroke: black;
    stroke-width: 2px;
}
.chord-segment-note {
    fill: none;
    stroke: none;
}
.chord-segment-note-root {
    fill: red;
    stroke: black;
    stroke-width: 2px;
}
.chord-segment-note-third {
    fill: green;
    stroke: black;
    stroke-width: 2px;
}
.chord-segment-note-fifth {
    fill: blue;
    stroke: black;
    stroke-width: 2px;
}

/* Modes */
.mode-button {
    fill: lightgrey;
    stroke: black;
    stroke-width: 2px;
    width: 150px;
    height: 25px;
}
.mode-button-selected {
    fill: white;
}
.mode-text {
    font-size: 15;
    text-anchor: left;
    fill: black;
}

/* Tonics */
.tonic-button {
    fill: lightgrey;
    stroke: black;
    stroke-width: 2px;
    width: 40px;
    height: 25px;
}
.tonic-button-selected {
    fill: white;
}
.tonic-text {
    font-size: 15;
    text-anchor: left;
    fill: black;
}